* {
  margin: 5px;
  padding: 5px;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: center;
  border-bottom: 12px solid salmon;
}

header img {
  height: 100px;
  width: 100px;
}

header .name {
  padding: 22px 0;
}

footer {
  border-top: 12px solid salmon;
  display: flex;
  justify-content: center;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    height: 500px;
    border: 12px red solid;
}

form div {
  display: flex;
  flex-direction: column;
}

.formInput{
    width: 300px;
    height: 40px;;
}

.formSubmit{
    width: 100px;
   
}

